<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @saleer %>
</p>

<%= link_to 'Edit', edit_saleth(@salsale
<%= link_to 'Back', saleath %>
